     body {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: bold;
    }
    text:hover{
    	fill: red !important;
    }



.alerta.red{
  background-color:#D91E18;
  width:100%;
  color:white;
  padding:10px;
}

.alerta.yellow{
  background-color:yellow;
  width:100%;
  color:black;
  padding:10px;
}

.panel-body{
	padding: 2px !important;
}

.alerta.gray{
  background-color:#95a5a6;
  width:100%;
  color:black;
  padding:10px;
}

.alerta{
	border: 1px solid lightgray;
}

.alerta .info{
  line-height:2px;
  font-weight:100;
}

.alerta p.titulo{
	font-size:18px;
}


.modulo{
 border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  margin-top:0px;
  padding-left:0px !important;
  padding-right:0px !important;
}

.modulo>.titulo{
  padding:1px;
  background-color:black;
  width:100% !important;
}

.modulo .titulo h3{
	    margin-top: 5px;
    margin-bottom: 5px;
  text-align:center;
  color: white;
  font-weight: 150;
  font-size:20px;
}

.modulo .contenido{
  padding:20px;
}

@media screen and (min-width: 400px) and (max-width: 1369px) { 
	.mapa{
		bottom:0;
		left:0;
		right:0;
		display: block;
		position: fixed;
	}

.alerta p.titulo{
	font-size:12px;
}

   .google-maps {
        position: relative;
        padding-bottom: 250px; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 250px !important;
    }
}

@media screen and (min-width: 1370px) and (max-width: 3080px) { 
	.mapa{
		bottom:0;
		left:0;
		right:0;
		display: block;
		position: fixed;
	}


   .google-maps {
        position: relative;
        padding-bottom: 400px; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 400px !important;
    }
}

/** MAIN CSS **/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-all {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}
table {
  width: 100%;

  border-radius: 0px;
  border: 1px solid black;
  border-collapse: collapse;
  overflow: hidden; 
  text-align: center;

}

th,td {
  padding:50px;
  background-color: rgba(255,255,255, .4);
  color: black;
  align-content: center;
	border: 1px solid black;
	padding:4px !important;
}

thead th {
  background-color: black;
  padding:10px;
  text-align: center;
  color: #737E89;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 0px

}
thead td {
  background-color: #F5F5F5;
  color: black;
}

g:hover path{
  fill:orange;
  cursor: pointer;
}
g>texto{
  visibility:hidden;
}

#piechart svg{
  margin-top:10px;
  height:500px;
  margin-right:300px;
  margin-bottom:10px;
}

svg{
  margin-top:10px;
  height:300px;
  margin-right:300px;
  margin-bottom:10px;
}

#tooltip-span{
    display:none;
    position:fixed;
    overflow:hidden;
    z-index:2000;
}

#tooltip-span{
    font-size:15px;
    color:black;
    font-weight:bold;
}
.key-metrics {
  min-height: 80px;
  border-top: 3px solid black;
  min-width: 100px;
  padding: 0px 5px 0px 10px;
  color: white;
  flex-flow: column;
  line-height: 1em;
  text-align: center;
  background: #F5F5F5;
  margin: 1px 0px 10px  15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);

}
.key-metrics .small{
    color: #737E89;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding: 10px 1px;
    margin-top: 0px;
    text-align: left;

}

.key-metrics.b{
  width: 280px;
  margin-right:1000px;
  height: 345px;
 

}
.key-metrics.c{
  width: 280px;
  margin-right:1000px;
  height: 345px;
 
}
.key-metrics .mapa{
  margin-left: 50px;
  margin-bottom: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 40px;
}
.user-banner {
  width: 250px;
  padding: 1px 0px 1px 0px;
  margin-top: 10px;
  background: #d90429;
  text-align: center;
}
.logobar img{
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  margin-right: 0px;
  
}
.user-banner img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  width: 65px;
  margin-right: 5px;
  border-radius: 100%;
}
.user-banner .username {
  font-weight: bold;
}

/** IMPORT HELPER CSS **/
/** IMPORT BASE CSS **/
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/20px "Proxima Nova", "Helvetica Neue", arial, sans-serif;
  color: #676e74;
  background: #E9EEF1;

}

h1, h2, h3, h4, h5, h6 {
  color: #1F2123;
}

h1, h2 {
  color: #4f5459;
  margin: 5px 0 20px 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.light {
  color: #b6babe;
}

#nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  color: #fff;
  background: #1F2123;
  z-index: +10;
}
#nav a {
  color: #737E89;
  text-decoration: none;
}
#nav ul {
  list-style-type: none;
  padding: 12px;
  margin: 0;
  font-weight: normal;

}
#nav ul li.head {
  color: #50585f;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;

}
#nav ul li a {
  display: block;
  padding: 6px 12px;
  margin: 5px 0;
  border-radius: 2px;
  border-bottom: 0.1em solid #a94442;
}
#nav ul li a i {
  margin-right: 8px;
}
#nav ul li a:hover {
  background: #2b2e31;
}
#nav ul li.active a {
  color: #fff;
  background: #a94442;
}
.unread{
    float: right;
    background: white;
    width: 2em;
    border-radius: 50%;
    font-size: 0.75em;
    line-height: 2;
    text-align: center;
    animation: notificationpulse 0.5s infinite;
    -webkit-animation: notificationpulse 0.5s}
#main {
  
}
#main a{
  color: #d90429;
  text-decoration: none;

}
#main header {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 5px;
  z-index: +1;
  border-bottom: 1px solid #d9e2e7;
  
}
#main header .breadcrumb {
  margin-bottom: 0px;
  background: transparent;
}
#main header h1 {
  color: #737E89;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
#main #content {
  position: relative;
  top: 40px;
  padding: 20px;
}
#main .property-glance i {
  margin-right: 5px;
}
#main .property-glance .progress {
  float: right;
  width: 30%;
  height: 18px;
  margin-top: 2px;
}
#main .property-glance .progress .progress-bar {
  font-size: 75%;
}
#main .property-glance .widget {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #fa5a5a;
  color: #fff;
  font-size: 200%;
}
#main .property-glance .widget:hover {
  background: #fa4b4b;
}
#main .timeline {
  position: relative;
  padding-left: 80px;
}
#main .timeline:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 40px;
  content: "";
  background: black;
}
#main .timeline .item {
  position: relative;
}
#main .timeline .item .circle {
  position: absolute;
  top: 20px;
  left: -42px;
  background: #acbbc7;
  border: 1px solid #ccc;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#main .timeline .item .message {
  position: relative;
  z-index: 2;
  padding: 15px 20px;
  margin-bottom: 15px;
  background: #a94442;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#main .timeline .item .message:before {
  position: absolute;
  z-index: 0;
  content: "";
  top: 25px;
  left: -6px;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom-color: transparent;
  border-left-color: #fff;
  border-right-color: transparent;
  filter: drop-shadow(-1px 0 1px rgba(0, 0, 0, 0.08));
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .user-banner {
    width: 66px;
    padding: 1px 0px 1px 0px;
    background: #2DCC70;
    text-align: center;
  }
  .user-banner img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 50px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .user-banner .username {
    font-size: 75%;
    font-weight: bold;
  }

  #nav {
    z-index: +10;
    width: 66px;
  }
  #nav li.head,
  #nav li span {
    display: none;
  }

  #main {
    margin-left: 66px;
  }

  .post .avatar {
    width: 50px;
  }
}
@media (max-width: 320px) {
  .user-banner {
    width: 100%;
    padding: 1px 0px 1px 0px;
    background: #2DCC70;
    text-align: center;
  }
  .user-banner img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .user-banner .username {
    display: inline;
    font-weight: bold;
  }

  #nav {
    z-index: +10;
    width: 100%;
    bottom: auto;
  }
  #nav li.head,
  #nav li span {
    display: none;
  }
  #nav ul {
    padding: 3px 5px;
  }
  #nav li {
    display: inline-block;
  }
  #nav li a {
    padding: 6px 5px;
  }
  #nav li a i {
    margin: 0 !important;
  }

  #main {
    padding: 50px 0 0 0;
    margin: 0;
  }
}
.box {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.box h4 {
  margin: 0 0 10px 0;
}
.box .header {
  padding: 20px 20px 0;
}
.box .body {
  padding: 20px 20px 8px;
}
.box .footer {
  padding: 10px 20px;
  border-top: 1px solid #E9EEF1;
}

.post .avatar {
  float: left;
  width: 60px;
}
.post .message {
  margin-left: 80px;
}
.post .box {
  border: 1px solid #CAD5E0;
}
.post .box::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-left: 1px solid #CAD5E0;
  border-top: 1px solid #CAD5E0;
  transform: rotate(-45deg);
}
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }



.CSSgal {
  position: relative;
  overflow: hidden;
  height: 80%; /* Or set a fixed height */
  width: 100%
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.CSSgal .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
  color: #fff;  
  text-align: center;
}
.CSSgal .slider h2 {
  margin-top: 30vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}























