/** MAIN CSS **/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-all {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}
/*Tabla Eventos*/
table {
  width: 100%;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  border-radius: 15px;

  overflow: hidden; 
  text-align: center;
  margin-top:10px;
}

th,td {
  padding:50px;
  background-color: rgba(255,255,255, .4);
  color: black;
  align-content: center;
}

thead th {
  background-color: black;
  padding:10px;
  text-align: center;
  color: #737E89;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 0px

}
thead td {
  background-color: #F5F5F5;
  color: black;
}
/* Mapa SVG */
g:hover path{
  fill:orange;
  cursor: pointer;
}
g>text{
  visibility:hidden;
}

svg{
  height:500px;
  margin-right: 600px;
  max-width:100%;
}

#tooltip-span{
    display:none;
    position:fixed;
    overflow:hidden;
}

#tooltip-span{
    font-size:15px;
    color:red;
    font-weight: bold;
}
.title{
  width: 100%;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  padding: 3px;
  color: white;
}
/* Contenedores */
.key-metrics {
  font-family: "Ubuntu", sans-serif;
  min-height: 80px;
  min-width: 100px;
  color: white;
  flex-flow: column;
  line-height: 1em;
  text-align: center;
  background: #F5F5F5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);

}
.key-metrics.b{
  width: 280px;
  margin-right:1000px;
  height: 345px;
}
.key-metrics.c{
  width: 280px;
  margin-right:1000px;
  height: 345px;
}

.mapa{
  margin-bottom: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 40px;
  height:100%;
    width:100%;
    top:0px;
    left:0px;
}
/* Titulo Contenedores */
.small{
  color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 1px;
    margin-top: 0px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

/* Navegador */
.user-banner {
  width: 250px;
  padding: 1px 0px 1px 0px;
  margin-top: 10px;
  background: #d90429;
  text-align: center;
}
.logobar img{
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  margin-right: 0px;
  
}
.user-banner img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  width: 65px;
  margin-right: 5px;
  border-radius: 100%;
}
.user-banner .username {
  font-weight: bold;
}

/** IMPORT HELPER CSS **/
/** IMPORT BASE CSS **/
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/20px "Proxima Nova", "Helvetica Neue", arial, sans-serif;
  color: #676e74;
  background: #E9EEF1;

}

h1, h2, h3, h4, h5, h6 {
  color: #1F2123;
}

h1, h2 {
  color: #4f5459;
  margin: 5px 0 20px 0;

}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;

}
h3{
  font-size: 3vh;
}
@media (max-width: 800px) {
  h3 {
    font-size: 0em;
  }
}

.light {
  color: #b6babe;
}

#nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  color: #fff;
  background: #1F2123;
  z-index: +10;
}
#nav a {
  color: #737E89;
  text-decoration: none;
}
#nav ul {
  list-style-type: none;
  padding: 12px;
  margin: 0;
  font-weight: normal;

}
#nav ul li.head {
  color: #50585f;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;

}
#nav ul li a.navutil {
  display: block;
  padding: 6px 12px;
  margin: 5px 0;
  border-radius: 2px;
  border-bottom: 0.1em solid #a94442;
}
#nav ul li a.util{
  
}
#nav ul li a i {
  margin-right: 8px;
}
#nav ul li a:hover {
  background: #2b2e31;
}
#nav ul li.active a {
  color: #fff;
  background: #a94442;
}
.unread{
    float: right;
    background: white;
    width: 2em;
    border-radius: 50%;
    font-size: 0.75em;
    line-height: 2;
    text-align: center;
    animation: notificationpulse 0.5s infinite;
    -webkit-animation: notificationpulse 0.5s}
#main {
  margin-left: 250px;
  height: 600px;
  
}
#main a{
  color: #d90429;
  text-decoration: none;

}
#main header {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 5px;
  z-index: +1;
  border-bottom: 1px solid #d9e2e7;
  
}
#main header .breadcrumb {
  margin-bottom: 0px;
  background: transparent;
}
#main header h1 {
  color: #737E89;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
#main #content {
  position: relative;
  top: 70px;
  padding: 20px;
}
#main .property-glance i {
  margin-right: 5px;
}
#main .property-glance .progress {
  float: right;
  width: 30%;
  height: 18px;
  margin-top: 2px;
}
#main .property-glance .progress .progress-bar {
  font-size: 75%;
}
#main .property-glance .widget {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #fa5a5a;
  color: #fff;
  font-size: 200%;
}
#main .property-glance .widget:hover {
  background: #fa4b4b;
}
#main .timeline {
  position: relative;
  padding-left: 80px;
}
#main .timeline:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 40px;
  content: "";
  background: black;
}
#main .timeline .item {
  position: relative;
}
#main .timeline .item .circle {
  position: absolute;
  top: 20px;
  left: -42px;
  background: #acbbc7;
  border: 1px solid #ccc;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#main .timeline .item .message {
  position: relative;
  z-index: 2;
  padding: 15px 20px;
  margin-bottom: 15px;
  background: #a94442;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#main .timeline .item .message:before {
  position: absolute;
  z-index: 0;
  content: "";
  top: 25px;
  left: -6px;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom-color: transparent;
  border-left-color: #fff;
  border-right-color: transparent;
  filter: drop-shadow(-1px 0 1px rgba(0, 0, 0, 0.08));
  transform-origin: 0 0;
  transform: rotate(-45deg);
}
/* Navegador */
@media (max-width: 767px) {
  .user-banner {
    width: 66px;
    padding: 1px 0px 1px 0px;
    background: #2DCC70;
    text-align: center;
  }
  .user-banner img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 50px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .user-banner .username {
    font-size: 75%;
    font-weight: bold;
  }

  #nav {
    z-index: +10;
    width: 66px;
  }
  #nav li.head,
  #nav li span {
    display: none;
  }

  #main {
    margin-left: 66px;
  }

  .post .avatar {
    width: 50px;
  }
}
@media (max-width: 320px) {
  .user-banner {
    width: 100%;
    padding: 1px 0px 1px 0px;
    background: #2DCC70;
    text-align: center;
  }
  .user-banner img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .user-banner .username {
    display: inline;
    font-weight: bold;
  }

  #nav {
    z-index: +10;
    width: 100%;
    bottom: auto;
  }
  #nav li.head,
  #nav li span {
    display: none;
  }
  #nav ul {
    padding: 3px 5px;
  }
  #nav li {
    display: inline-block;
  }
  #nav li a {
    padding: 6px 5px;
  }
  #nav li a i {
    margin: 0 !important;
  }

  #main {
    padding: 50px 0 0 0;
    margin: 0;
  }
}
.box {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.box h4 {
  margin: 0 0 10px 0;
}
.box .header {
  padding: 20px 20px 0;
}
.box .body {
  padding: 20px 20px 8px;
}
.box .footer {
  padding: 10px 20px;
  border-top: 1px solid #E9EEF1;
}

.post .avatar {
  float: left;
  width: 60px;
}
.post .message {
  margin-left: 80px;
}
.post .box {
  border: 1px solid #CAD5E0;
}
.post .box::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-left: 1px solid #CAD5E0;
  border-top: 1px solid #CAD5E0;
  transform: rotate(-45deg);
}
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }


/* SLIDER */
.contentSlider {
  position: relative;
  overflow: hidden;
  height: 80%; /* Or set a fixed height */
  width: 100%
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.contentSlider .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.contentSlider .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.contentSlider .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.contentSlider .prevNext > div+div {
  visibility: hidden; 
}

.contentSlider .prevNext a {
  background: #fff;
  position: absolute;
  width:       40px;
  height:      40px;
  line-height: 60px; 
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.contentSlider .prevNext a:hover {
  opacity: 1;
}
.contentSlider .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION SLIDER */

.contentSlider .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.contentSlider .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.contentSlider .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); 
}
.contentSlider .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.contentSlider >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}


/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.contentSlider >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}


/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


.contentSlider{
  color: #fff;  
  text-align: center;
}
.contentSlider .slider h2 {
  margin-top: 30vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.contentSlider a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

/* Modelo 3D*/
#hero-wrapper {
  height: 580px;
  width: 1198px;
  margin-top: 20px;
  margin-left: 230px;

}
.text_encima {
  position: absolute;
  color: #7715D1;
  font-size: 20px;
  font-family: arial;
  top: 330px;
  right: 20px;
  text-align: right;
  color: white;
}

#hero-wrapper .carousel-wrapper,
#hero-carousel {
  height: 90%;
  width: 90%;
  position: relative;
}

#hero-carousel{
  img {
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: 1198px;
    height: 580px;
  }
  & i {
    position: absolute;
    top: 50%;
  }
}

.carousel-fade {
  .carousel-inner {

    .item {
      opacity: 0;
      transition-property: opacity;

    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
  
    }

    .next.left,
    .prev.right {
      opacity: 1;

    }
  }

  .carousel-control {
    z-index: 2;
  }
}
.jumbotron{
  margin-top: 5px;
  height: 560px;
  width: 1030px;
}
/* Fotos Dron*/ 

.wrapper {
  width: 80vw;
  max-width: 700px;
  margin: auto;
}
.carousel-container {
  margin: 5px auto;
  height: 100%;
  border: none;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 112px;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  z-index: 0;
}

.carousel li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel li img {
  height: 100%;
  width: 100%;
}

.thumbnails {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0;}

.thumbnails li {
  display: inline-block;
  list-style-type: none; 
  max-width: 100px;
  padding: 0;
  border: none;
  margin: 5px;
  transition: 0.25s;
  box-sizing: border-box;
  
}

.thumbnails li img {
  height: 100%;
  width: 100%;
  vertical-align: text-bottom;
}

.thumbnails li.active, .thumbnails li:hover {
  border: 5px orange solid;
}

.arrow {
  z-index: 10;
  position: absolute;
  padding: 100 120px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.arrow i:hover {
  color: #fff;
}

.arrow i {
  position: relative;
  top: 90%;
  transform: translateY(-50%);
  color: black;
  opacity: 0.7;
}

.right-arrow {
  right: 0;
}

div.ui-loader {
  display: none;
}
.jumbotron.jumboDron{
  margin-top: 0px;
  height: 650px;
  width: 1030px;
}
/* Fotos */
.contentSlider.fotos{
  margin: 20px 0px 20px  5px;
  position: relative;
  overflow: hidden;
  height: 400px; /* Or set a fixed height */
  width: 900px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

/* Perfil */
.content {
  background: #FAF7F3;
  width: 320px;
  height: 590px;
  margin: 2% auto;
  border-radius: 10px;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

header#cover-page {
  background: url("fd.jpg");
  width: 100%;
  height: 295px;
  position: relative;
}
header#cover-page .bg-cover-opacity {
  background: linear-gradient(to left, #DCDCDC, #ffcccc);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  z-index: 9;
}
header#cover-page .informations {
  width: 100%;
  height: 60px;
}

.name {
  font-size: 1.8em;
  font-family: "Ubuntu", sans-serif;
  color: #696969;
  text-align: center;
  margin: 1%;
}

.status {
  font-size: 0.8em;
  font-family: "Ubuntu", sans-serif;
  color: #16a085;
  text-align: center;
}

.status span {
  background: #16a085;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 125px;
  border-radius: 50%;
  position: relative;
  display: block;
}

.slogan {
  font-size: 0.8em;
  font-family: "Ubuntu", sans-serif;
  color: rgba(63, 75, 78, 0.8);
  text-align: center;
  margin: 2%;
}

.slogan span {
  top: 13px;
  left: -20px;
  fill: white;
  position: relative;
  display: block;
}

#status {
  background: none;
  width: 50%;
  height: 30px;
  margin-left: 25%;
  font-size: 1em;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  transition: 0.5s ease-in-out;
  display: none;
}
#status option:first-child {
  background-color: none;
  color: green;
  border-bottom: 1px solid green;
}
#status option:nth-child(2) {
  color: red;
}
#status option:nth-child(3) {
  color: yellow;
}

img.perfil {
  width: 120px;
  height: 120px;
  margin: 7% auto;
  border-radius: 50%;
  left: 100px;
  box-shadow: 0px 0px 15px #78808d;
  z-index: 99;
  position: absolute;
}

.notification {
  width: 100%;
  height: 50px;
}
.notification .icon {
  width: 25%;
  height: 50px;
  text-align: center;
  float: left;
  fill: #78808D;
}
.notification .icon svg {
  margin-top: 10%;
}
.notification .selected {
  background: rgba(122, 171, 174, 0.1);
}

.messages, .box-of-notifications {
  background: rgba(122, 171, 174, 0.1);
  width: 100%;
  height: 245px;
  padding-top: 2%;
  display: block;
}
.messages .history-message, .box-of-notifications .history-message {
  width: 90%;
  height: 70px;
  margin: 2% 5%;
  border-bottom: 1px solid rgba(120, 128, 141, 0.2);
  position: relative;
}
.messages .history-message .pic-message, .box-of-notifications .history-message .pic-message {
  width: 60px;
  height: 60px;
  margin: 0 3%;
  border-radius: 50%;
  float: left;
}
.messages .history-message h4, .box-of-notifications .history-message h4 {
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
  color: #767e8a;
  top: 10%;
  position: relative;
}
.messages .history-message p, .box-of-notifications .history-message p {
  font-size: 0.8em;
  font-family: "Ubuntu", sans-serif;
  color: rgba(118, 126, 138, 0.7);
  top: 20%;
  position: relative;
}

.box-of-notifications {
  display: none;
}
.box-of-notifications .notification {
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #CFD8DC;
}
.box-of-notifications .notification .pic-perfil {
  width: 65px;
  height: 65px;
  margin: 2px 5px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  box-shadow: 4px 4px 5px #B6B6B6;
}
.box-of-notifications .notification .pic-perfil img {
  height: 100%;
  transform: scale(1.2);
}
.box-of-notifications .notification p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  color: #727272;
  line-height: 1.5;
  padding: 1% 1% 1% 25%;
}
.box-of-notifications .notification p strong {
  font-weight: bold;
  color: #2c3e50;
}
.box-of-notifications .notification .date {
  font-family: "Ubuntu", sans-serif;
  color: #727272;
  font-size: 0.7em;
  margin-left: 3%;
}
.box-of-notifications .notification .btn-wrapper {
  width: 50%;
  margin: 2% auto;
}
.box-of-notifications .notification .btn-wrapper .accepted, .box-of-notifications .notification .btn-wrapper .dont {
  width: 40%;
  background: #009688;
  padding: 1% 2% 1% 2%;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  color: #fff;
  display: inline;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #B6B6B6;
}
.box-of-notifications .notification .btn-wrapper .dont {
  background: #D32F2F;
}
.alertas .row-fluid {
    top: 0;
}
